#news-list .title {
    height: 50px;
    overflow: hidden;
}
#news-list .summary {
    height: 40px;
    overflow: hidden;
}
ul.gallery {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
ul.gallery li {
    list-style: none;
    margin-bottom: 25px;
}
ul.gallery li img {
    cursor: pointer;
}
#gallery-modal .controls {
    width: 50px;
    display: block;
    font-size: 11px;
    padding-top: 8px;
    font-weight: bold;
}
#gallery-modal .modal-body {
    text-align: center;
}
#gallery-modal .next {
    float: right;
    text-align: right;
}
